@import url("https://fonts.googleapis.com/css2?family=Montserrat");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Montserrat", sans-serif;
}

body {
  margin: 0;
  background-color: #fbf9fa;
}

[data-title]:hover:after {
  opacity: 1;
  transition: all 0.1s ease 0.5s;
  visibility: visible;
}
[data-title]:after {
  content: attr(data-title);
  background-color: rgb(241, 245, 249);
  color: black;
  font-size: 0.8rem;
  position: absolute;
  padding: 0 10px;
  bottom: -4em;
  white-space: nowrap;
  box-shadow: 1px 1px 3px #222222;
  opacity: 0;
  border: 1px solid #111111;
  border-radius: 15px;
  z-index: 99999;
  visibility: hidden;
}
[data-title] {
  position: relative;
}
